.twitter {
  display: inline-block;
  background-image: url("../i/sprite.svg");
  background-size: 5.25em 4em; }

.lt-ie9 .twitter {
  background-image: url("../i/sprite.png"); }

.twitter {
  width: 2.0625em;
  height: 1.4375em;
  background-position: -0.3125em -0.3125em; }
  .lt-ie9 .twitter {
    width: 32px;
    height: 22px;
    background-position: -5px -5px; }
  .twitter:hover {
    background-position: -2.9375em -2.3125em; }
    .lt-ie9 .twitter:hover {
      background-position: -47px -37px; }
