head
	meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(content="", name="Description")
	meta(content="", name="Keywords")
	meta(content="yes", name="apple-mobile-web-app-capable")

	title Title

	link(href="css/reset.css", rel="stylesheet", type="text/css")
	link(href="css/main.css", rel="stylesheet", type="text/css")